@use "sass:color";

// Цветовая палитра
$color-main: rgb(0, 152, 116);
$color-header: rgb(0, 96, 74);
$color-main-bg: rgb(155, 241, 184);
$color-block-beginner: rgb(0, 199, 106);
$color-white: rgb(255, 255, 255);
$color-main-text: rgb(0, 78, 57);
$color-level-title: rgb(244, 163, 0);

// Шрифт
$font-main: "Font-main";
$font-title: "Font-title";
